.header {
    background-image: url("../components/images/header.jpeg");
    background-repeat: repeat-x;
    color: aliceblue;
    font-family:   Geneva, Verdana, sans-serif;
    padding: 0.5vh;
    display: flex;
    flex-direction: column;
  }
  .header h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 3vh;
  }

  .headlogo {
    width: 5%;
  }

  @media only screen and (max-width: 800px) {
    .header {
      flex-direction: column;
      justify-content: center;
    }
    .header h1 {
      font-size: 3.5vh;
      justify-content: center;
    }
    .headlogo {
      width: 5%;
    }
  }