.ListingItem
{
    display: flex;
    flex-direction: row;
    font-size: 0.2%;
    width: 100%;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 0.5%;
    justify-content: center;
    align-items: center;
    overflow: clip;
}

.listingcontainer {
  background-color: rgba(218, 244, 252, 0.92);;
}

.listingheader {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .LisingItem {
    flex-direction: column;
  }
}